<h1 class="text-center">We Collect Phrases and Emotions</h1>

<div class="col-xs-10 col-xs-offset-1">

<p class="centered-block">My Feels is a place to discover and share beautiful phrases and emotions. We pick and collect common phrase combinations that triggers emotion. Our phrases are all free, you are welcome to use, share, contribution and get inspiration, every day.</p>

</div>
