@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "toastr";

.avatar-small {
  width: 28px;
}

.avatar-medium {
  width: 48px;
}

.avatar-large {
  width: 68px;
}

.avatar-full {
  width: 100%;
}

blockquote{
    border-left:none
}

.quote-box{
    overflow: hidden;
    margin-top: -50px;
    padding-top: -100px;
    border-radius: 17px;
    margin-top: 25px;
    width: 600px;
    box-shadow: 2px 2px 2px 2px #E0E0E0;
    background-color: #fff;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.quote-text{
    font-size: 19px;
}

body {
  background-color: #E2EDF3;
}

h1, h2 {
    color: #364656;
    font-weight: 300;
    font-size: 44px;
}

p {
    max-width: 500px;
    display: block;
    margin: 0 auto;
    text-align: left;
    margin-top: 20px;
    font-size: 20px;
    line-height: 180%;
    font-weight: 300;
}
